body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 60px 0px;
    text-align: center;
  }
  li {
    color: white;
    /* line-height: 80px; jgn dipake disini */
    height: 570px;
  }
  ul li{
      margin-bottom: 10px;
  }
  /* .li1 {
    background-color: #ffc562;
  }
  .li2 {
    background-color: #a0c3f7;
  }
  .li3 {
    background-color: #ff8db3;
  }
  .li4 {
    background-color: #88e7ce;
  } */
  .flex-list{
      display: flex;
      flex-wrap: wrap;
  }
  .flex-list li{
      flex: auto;
      width: 50%;
  }

  /* percobaan */
  .img{
      margin: 0 auto;
      width: 100%;
  }
  .headline{
      margin-top: 0;
      margin-bottom: 10px;
  }
  .content{
      overflow: hidden;
  }
  /* macam-macam theme */
  .theme-dark{
    background-color: #000;
    margin: 0 auto;
  }
  .theme-light{
    background-color: #fbfbfd;
    margin: 0 auto;
    color: #1D1D1F;
  }
  /* percobaan whole div clickable */
  
  .container-main{
    width: 98%;
    height: 100%;
    /* z-index: 3; */
  }
  /* .unit-link{
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
  } */
  ul li img{
      width: 100%;
  }
  /* lulus uji coba */
  .cta-links a{
      margin-right: 20px;
      text-decoration: none;
      color: #2997FF;
  }
  .cta-links a:hover{
      text-decoration: underline;
  }
  /* ga gitu penting */
  .apple-watch-logo{
      width: 25%;
  }
  /* coba hover */
  .unit-image figure img{
      transition: transform .2s;
  }
  .unit-image figure img:hover{
      transform: scale(1.05);
  }


  /* @media (max-width: 1000px){
    .flex-list{
        flex-wrap: wrap;
    }

    .flex-list li{
        width: 50%;
    }
  } */
  @media (max-width: 670px){
      .flex-list{
          flex-direction: column;
      }
      .flex-list li{
          margin: 0 auto;
          width: 100%;
      }
  }