* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

ul, li, ol {
    list-style: none;
    }

    a {
    text-decoration: none;
}
body, main{
    margin: 0 auto;
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

/* css untuk header */
header {
    position: fixed;
    top:0;
    height: 52px;
    width: 100%;
    color: rgba(255, 253, 253, 0.87);
    background-color: rgba(0,0,0,0.92);
    z-index: 10;
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.92);
    width: 100%;
    position: fixed;
    color: rgba(255, 253, 253, 0.87); */
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
  }


.header-wrapper {

    /* text-align: center;
    line-height: 50px;
    font-size: 30px; */
  }

.header-list{
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    /* margin-left:50px; */
    

}
.header-list li{
    margin: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}
.header-list li a{
    text-decoration: none;
    color: #f5f5f7;
}
.header-list a {
    
  /* margin-left:50px; 
  font-size:20px;
  margin-bottom:10px;   
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;  */

}
.logo{
    width: 25px;
    /* width: 30px;
    margin-top: 10px;
    margin-bottom:10px;
    float:left;
    margin-left:30px; */
}
span{
    /* margin-left:20px;
    float:left; */
}


.search{
    /* margin-top:10px;
    margin-bottom:10px;
    margin-right:30px;
    float:right;
    background-color: rgba(0,0,0,0.92);
    border-radius:10px; */
    
}
/* search btn */
.search-container {
    position: relative;
}

.search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-dropdown input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.search-dropdown button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.search-dropdown button:hover {
    background-color: #555;
}

/* header */


/* container global - disabled */

/* .container {
    margin: 0 20px;
  }
*/

.contents {
    background-color: white;
}


.image-container .iphone-12 {
    height: 640px;
    width: 100%;
    margin-bottom: 0px;
}

.iphone-12 {
    height: 100%;
    background-image: url(img/iphone_12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    }

.iphone-12 .title {
    text-align: center;
    padding-top: 50px;
}


.iphone-12 .title h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.897);
    font-weight: 700;
}
.iphone-12 .title p {
    font-size: 25px;
    font-weight: bold;
    color: rgba(41, 41, 41, 0.89)
}

 .cta-links {
    text-align: center;
}

.image-container .iphone-12-pro {
    height: 640px;
    width: 100%;
    padding-top: 20px;
}

.iphone-12-pro {
    height: 90%;
    min-height: 100%;
    background-image: url(img/iphone12pro-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone-12-pro .title {
    text-align: center;
}

.iphone-12-pro .title h1 {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.897);
    font-weight: 700;
}

.iphone-12-pro .title p {
    font-size: 30px;
    font-weight: normal;
    color: rgba(255, 253, 253, 0.87)
}

.iphone-12-pro .cta-links {
    text-align: center;
}
.image-container .fitness {
    height: 500px;
    width: 100%;
    padding-top: 0%;
    flex: auto;
    
}

.fitness {
    height: 90%;
    min-height: 100%;
    background-image: url(img/apple-fitness.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 00px;
}

.title .hello {
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.897);
    font-weight: 700;
}



 .title .A {
     text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.87)
    
}

.fitness .cta-links {
    text-align: center;
}

/* main */
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  li {
    color: white;
    height: 770px;
  }
  ul li{
      margin-bottom: 5px;
  }

  .flex-list{
      display: flex;
      flex-wrap: wrap;
  }
  .flex-list li{
      flex: auto;
      width: 50%;
  }
  .img{
      margin: 0 auto;
      width: 100%;
  }
  .headline{
      margin-top: 0;
      margin-bottom: 10px;
  }
  .content{
      overflow: hidden;
  }
  /* main themes content */
  .theme-dark{
    background-color: #000;
    margin: 0 auto;
  }
  .theme-light{
    background-color: #fbfbfd;
    margin: 0 auto;
    color: #1D1D1F;
  }
  .container-main{
    width: 98%;
    height: 100%;
  }

  ul li img{
      width: 100%;
  }

  .cta-links a{
      font-size: 23px;
      margin-right: 20px;
      text-decoration: none;
      color: #2997FF;
      font-weight: normal;
  }
  .cta-links a:hover{
      text-decoration: underline;
  }
  
  /* hover zoom products animation */
  .unit-image figure img{
      transition: transform .2s;
  }
  .unit-image figure img:hover{
      transform: scale(1.05);
  }
  .apple-watch-logo{
    width: 25%;
}
/* main */


  /* css untuk footer */

  footer {
      background-color: #f5f5f7;
      padding: 40px;
      height: 1000px;
      color: #1d1d1f;
  }

  .logo-footer {
      width: 50px;
      margin-bottom: 10px;
  }

  .txt-copy {
      margin: 0;
  }

  .txt-copy a {
      color: #fff;
  }

  .txt-copy a:hover {
      text-decoration: underline;
  }
  .footer-container{
      display: flex;
  }
  .footer-list {
      float: left;
      width: 30%;
      margin: 0 auto;
      
  }

  .footer-list p a {
      color: #1d1d1f;
  }

  .footer-list p a:hover {
      text-decoration: underline;
  }

  .clear-footer {
      clear: left;
  }
  .foot-notes ul li{
      color: #86868b;
      height: 2em;
      margin: 10px 0;
      text-align: left;
  }
  .footer-container, .footer-list-container{
      width: 70%;
      margin: 0 auto;
  }
/* footer */

/* responsive */
.menu-logo{
    visibility: hidden;
    position: absolute;
}
.fa-searchs{
    visibility: hidden;
}
