* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

ul, li, ol {
    list-style: none;
    }

    a {
    text-decoration: none;
}




body, main{
    margin: 0 auto;
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

/* css untuk header */
header {
    height: 50px;
    width: 100%;
    color: rgba(255, 253, 253, 0.87);
    background-color: rgb(29, 18, 18);
  }
.header-wrapper {
    text-align: center;
    line-height: 50px;
    font-size: 30px;
  }


/* container global - disabled */

/* .container {
    margin: 0 20px;
  }
*/

.contents {
    background-color: white;
}


.image-container .iphone-12 {
    height: 640px;
    width: 100%;
    margin-bottom: 10px;
}

.iphone-12 {
    height: 100%;
    background-image: url(img/iphone_12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    }

.iphone-12 .title {
    text-align: center;
    padding-top: 50px;
}


.iphone-12 .title h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.897);
    font-weight: 700;
}
.iphone-12 .title p {
    font-size: 25px;
    font-weight: bold;
    color: rgba(41, 41, 41, 0.89)
}

.iphone-12 .cta-links {
    text-align: center;
}

.image-container .iphone-12-pro {
    height: 640px;
    width: 100%;
    padding-top: 20px;
}

.iphone-12-pro {
    height: 90%;
    min-height: 100%;
    background-image: url(img/iphone12pro-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone-12-pro .title {
    text-align: center;
}

.iphone-12-pro .title h1 {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.897);
    font-weight: 700;
}

.iphone-12-pro .title p {
    font-size: 30px;
    font-weight: normal;
    color: rgba(255, 253, 253, 0.87)
}

.iphone-12-pro .cta-links {
    text-align: center;
}



ul {
    list-style: none;
    margin: 0px;
    padding: 60px 0px;
    text-align: center;
  }
  li {
    color: white;
    /* line-height: 80px; jgn dipake disini */
    height: 570px;
  }
  ul li{
      margin-bottom: 10px;
  }
  /* .li1 {
    background-color: #ffc562;
  }
  .li2 {
    background-color: #a0c3f7;
  }
  .li3 {
    background-color: #ff8db3;
  }
  .li4 {
    background-color: #88e7ce;
  } */
  .flex-list{
      display: flex;
      flex-wrap: wrap;
  }
  .flex-list li{
      flex: auto;
      width: 50%;
  }

  /* percobaan */
  .img{
      margin: 0 auto;
      width: 100%;
  }
  .headline{
      margin-top: 0;
      margin-bottom: 10px;
  }
  .content{
      overflow: hidden;
  }
  /* macam-macam theme */
  .theme-dark{
    background-color: #000;
    margin: 0 auto;
  }
  .theme-light{
    background-color: #fbfbfd;
    margin: 0 auto;
    color: #1D1D1F;
  }
  /* percobaan whole div clickable */
  
  .container-main{
    width: 98%;
    height: 100%;
    /* z-index: 3; */
  }
  /* .unit-link{
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
  } */
  ul li img{
      width: 100%;
  }
  /* lulus uji coba */
  .cta-links a{
      font-size: 23px;
      margin-right: 20px;
      text-decoration: none;
      color: #2997FF;
      font-weight: normal;
  }
  .cta-links a:hover{
      text-decoration: underline;
  }
  /* ga gitu penting */
  .apple-watch-logo{
      width: 25%;
  }
  /* coba hover */
  .unit-image figure img{
      transition: transform .2s;
  }
  .unit-image figure img:hover{
      transform: scale(1.05);
  }




  /* css untuk footer */

  footer {
      text-align: center;
      background-color: rgb(29, 18, 18);
      padding: 40px;
      color: white;
  }

  .footer-wrapper img {
      width: 50px;
      margin-bottom: 10px;
  }

  .footer-wrapper p {
      margin: 0;
  }

  .footer-wrapper p a {
      color: #fff;
  }

  .footer-wrapper p a:hover {
      text-decoration: underline;
  }



